<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieRental</title>

    <link rel="stylesheet" href="~/css/bootstrap-lumen.css" />
    <link rel="stylesheet" href="~/css/custom/site.css" />
    <link rel="stylesheet" href="~/css/common.scss" />

    <link rel="stylesheet" href="~/css/autoFill.bootstrap.css" />
    <link rel="stylesheet" href="~/css/autoFill.dataTables.css" />
    <link rel="stylesheet" href="~/css/autoFill.foundation.css" />
    <link rel="stylesheet" href="~/css/autoFill.jqueryui.css" />

    <link rel="stylesheet" href="~/css/buttons.bootstrap.css" />
    <link rel="stylesheet" href="~/css/buttons.bootstrap4.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.css" />
    <link rel="stylesheet" href="~/css/buttons.foundation.css" />
    <link rel="stylesheet" href="~/css/buttons.jqueryui.css" />

    <link rel="stylesheet" href="~/css/colReorder.bootstrap.css" />
    <link rel="stylesheet" href="~/css/colReorder.dataTables.css" />
    <link rel="stylesheet" href="~/css/colReorder.foundation.css" />
    <link rel="stylesheet" href="~/css/colReorder.jqueryui.css" />

    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/css/dataTables.foundation.css" />
    <link rel="stylesheet" href="~/css/dataTables.jqueryui.css" />
    <link rel="stylesheet" href="~/css/dataTables.material.css" />
    <link rel="stylesheet" href="~/css/dataTables.semanticui.css" />
    <link rel="stylesheet" href="~/css/dataTables.uikit.css" />

    <link rel="stylesheet" href="~/css/fixedColumns.bootstrap.css" />
    <link rel="stylesheet" href="~/css/fixedColumns.dataTables.css" />
    <link rel="stylesheet" href="~/css/fixedColumns.foundation.css" />
    <link rel="stylesheet" href="~/css/fixedColumns.jqueryui.css" />

    <link rel="stylesheet" href="~/css/fixedHeader.bootstrap.css" />
    <link rel="stylesheet" href="~/css/fixedHeader.dataTables.css" />
    <link rel="stylesheet" href="~/css/fixedHeader.foundation.css" />
    <link rel="stylesheet" href="~/css/fixedHeader.jqueryui.css" />

    <link rel="stylesheet" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables_themeroller.css" />

    <link rel="stylesheet" href="~/css/keyTable.bootstrap.css" />
    <link rel="stylesheet" href="~/css/keyTable.dataTables.css" />
    <link rel="stylesheet" href="~/css/keyTable.foundation.css" />
    <link rel="stylesheet" href="~/css/keyTable.jqueryui.css" />

    <link rel="stylesheet" href="~/css/responsive.bootstrap.css" />
    <link rel="stylesheet" href="~/css/responsive.dataTables.css" />
    <link rel="stylesheet" href="~/css/responsive.foundation.css" />
    <link rel="stylesheet" href="~/css/responsive.jqueryui.css" />

    <link rel="stylesheet" href="~/css/rowReorder.bootstrap.css" />
    <link rel="stylesheet" href="~/css/rowReorder.dataTables.css" />
    <link rel="stylesheet" href="~/css/rowReorder.foundation.css" />
    <link rel="stylesheet" href="~/css/rowReorder.jqueryui.css" />

    <link rel="stylesheet" href="~/css/scroller.bootstrap.css" />
    <link rel="stylesheet" href="~/css/scroller.dataTables.css" />
    <link rel="stylesheet" href="~/css/scroller.foundation.css" />
    <link rel="stylesheet" href="~/css/scroller.jqueryui.css" />

    <link rel="stylesheet" href="~/css/select.bootstrap.css" />
    <link rel="stylesheet" href="~/css/select.dataTables.css" />
    <link rel="stylesheet" href="~/css/select.foundation.css" />
    <link rel="stylesheet" href="~/css/select.jqueryui.css" />

</head>
<body>
    @Html.Partial("_NavBar");
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>

    <script src="~/js/additional-methods.js"></script>

    <script src="~/js/autoFill.bootstrap.js"></script>
    <script src="~/js/autoFill.foundation.js"></script>
    <script src="~/js/autoFill.jqueryui.js"></script>

    <script src="~/js/dataTables.autoFill.js"></script>
    <script src="~/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/dataTables.bootstrap.js"></script>

    <script src="~/js/dataTables.buttons.js"></script>
    <script src="~/js/dataTables.colReorder.js"></script>
    <script src="~/js/dataTables.fixedColumns.js"></script>
    <script src="~/js/dataTables.fixedHeader.js"></script>
    <script src="~/js/dataTables.foundation.js"></script>
    <script src="~/js/dataTables.jqueryui.js"></script>
    <script src="~/js/dataTables.keyTable.js"></script>

    <script src="~/js/dataTables.material.js"></script>
    <script src="~/js/dataTables.responsive.js"></script>
    <script src="~/js/dataTables.rowReorder.js"></script>
    <script src="~/js/dataTables.scroller.js"></script>
    <script src="~/js/dataTables.select.js"></script>
    <script src="~/js/dataTables.semanticui.js"></script>
    <script src="~/js/dataTables.uikit.js"></script>

    <script src="~/js/responsive.bootstrap.js"></script>
    <script src="~/js/responsive.foundation.js"></script>
    <script src="~/js/responsive.jqueryui.js"></script>

    <script src="~/js/buttons.bootstrap.js"></script>
    <script src="~/js/buttons.bootstrap4.js"></script>
    <script src="~/js/buttons.colVis.js"></script>
    <script src="~/js/buttons.flash.js"></script>
    <script src="~/js/buttons.foundation.js"></script>
    <script src="~/js/buttons.html5.js"></script>
    <script src="~/js/buttons.jqueryui.js"></script>
    <script src="~/js/buttons.print.js"></script>

    <script src="~/js/autoFill.foundation.js"></script>
    <script src="~/js/autoFill.bootstrap.js"></script>
    <script src="~/js/autoFill.jqueryui.js"></script>

    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootbox.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
